@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fonts */
:root {
    --fs-body: 1rem;
    --fs-footer: .75rem;
    --fs-small: .55rem;

    --ff-space-mono: 'Space Mono', monospace;
    --ff-monserrat: 'Montserrat', sans-serif;
    --ff-inconsolata: 'Inconsolata', monospace;

}

/* Colors */
:root {
    --gray-1: #333333;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    font-family: var(--ff-space-mono);
    font-weight: 400;
    font-size: var(--fs-body);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2rem;
    color: var(--gray-1);
    height: 100vh;
}

/* Page */

.main {
    position: relative;
    height: 100%;
}

.main__title {
    font-family: (var(--ff-inconsolata));
    font-size: 1rem;
    margin-bottom: 2rem;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.section {
    display: grid;
}

.section__button {
    background-color: var(--gray-1);
    font-size: var(--fs-small);
    color: #ffffff;
    display: inline-block;
    border: 1px solid;
    padding: 1.5em 3em;
}

.section__title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.section__img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section__description {
    margin-bottom: 2rem;
    width: 90%;
    font-size: .8rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-family: var(--ff-monserrat);
    font-size: var(--fs-footer);
}

@media screen and (min-width: 960px) {

    .main__title {
        margin-bottom: 9rem;
    }

    .section {
        grid-template-columns: repeat(2, 1fr);
    }

    .section__title {
        margin-top: 0;
        font-size: 2.5rem;
    }

    .section__description {
        width: 50%;
        font-size: 1rem;
    }
}